{% extends "base.html" %}

{% block title %}Houses | AMSCEL PROPERTY LIMITED{% endblock %}

{% block content %}

<section class="section">

```
<div class="section-inner">

    <div class="section-title">

        

        

    </div>

    <div class="property-grid">

        {% for property in houses %}

        <article class="property-card">

            {% for image in property.images.all %}

                {% if forloop.first %}

                <img
                    src="{{ image.image.url }}"
                    class="property-image"
                    alt="{{ property.title }}"
                >

                {% endif %}

            {% empty %}

                <div class="no-image">
                    No property image available.
                </div>

            {% endfor %}

            <div class="property-content">

                <h3>{{ property.title }}</h3>

                <p class="property-location">
                    {{ property.location }}
                </p>

                <p class="property-price">
                    ₦{{ property.price|floatformat:0 }}
                </p>

                {% if property.plot_size %}

                <p>
                    <strong>Property Size:</strong>
                    {{ property.plot_size }}
                </p>

                {% endif %}

                {% if property.description %}

                <p>
                    {{ property.description|truncatewords:30 }}
                </p>

                {% endif %}

                <p>
                    <strong>Status:</strong>
                    {{ property.get_status_display }}
                </p>

                <a
                    href="{% url 'property_detail' property.pk %}"
                    class="btn btn-primary"
                >
                    View Property
                </a>

            </div>

        </article>

        {% empty %}

        <div class="detail-box">

            <h2>No Apartments Available</h2>

            <p>
                There are currently no available Apartments.
                Please check back again in the future.
            </p>

           

        </div>

        {% endfor %}

    </div>

</div>


</section>

{% endblock %}
